.u-section-1 .u-sheet-1 {
  min-height: 620px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 30px;
}

.u-section-1 .u-image-1 {
  min-height: 590px;
  pointer-events: auto;
  background-image: url("images/original.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 590px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 19px 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.625rem;
  margin: 161px 52px 0 71px;
}

.u-section-1 .u-form-1 {
  height: 203px;
  margin: 23px 52px 0 71px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-1 .u-image-1 {
    min-height: 486px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 133px;
    margin-right: 2px;
    margin-left: 21px;
  }

  .u-section-1 .u-form-1 {
    height: 207px;
    margin-top: 11px;
    margin-right: 2px;
    margin-left: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-1 .u-image-1 {
    min-height: 372px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 433px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 111px;
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-form-1 {
    height: 209px;
    margin-top: 0;
    margin-right: 45px;
    margin-left: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-1 .u-image-1 {
    min-height: 558px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-1 .u-image-1 {
    min-height: 351px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }
}